﻿@using Resources;
@using Kendo.Mvc.UI
@using System.Threading;
@using System.Globalization;
@using Models;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - HRIS</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/kendo.recruitment.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script>
         var fileDownloaderUrl = '@Url.Action("DownloadFile", "File")';
    </script>

</head>

<body>
    <script>

        function ChangeLanguage(lang)
        {
            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("ChangeCulture", "Employee")',
                data: { language: lang }, // serializes the form's elements.
                success: function (result)
                {
                    if (result.status == "success")
                    {
                        location.reload();
                    }
                }
            });
        }

</script>
    @{
        string loggedAs = Resource.LoggedAs+ ": ";
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
        Models.USERACCOUNT user = (Models.USERACCOUNT)Session["User"];
        string fullName = (user != null && user.PERSON != null)? user.PERSON.FULLNM : string.Empty;
        fullName = loggedAs + fullName;

        List<ProfilePermission> list = (List<ProfilePermission>)Session["permission"];

        bool processedFilesPermission = (bool)Session["ProcessedFilesPermission"];
        bool searchEmployeePermission = (bool)Session["SearchEmployeePermission"];
        bool screenFieldsPermission = (bool)Session["ScreenFieldsPermission"];
        bool profilePermissions = (bool)Session["ProfilePermissions"];
        bool applicationFullAccessPermission = (bool)Session["ApplicationFullAccessPermission"];
    }
    <div class="container">
        <div class="row k-header col-md-12" id="divHeader">
            <div class="col-md-10">
                <img src="~/Content/Images/HRIS-Logo.png" class="headerlogo" />
            </div>
            <div class="col-md-2">
                <div class="col-md-12" align="right">
                    <img src="~/Content/Images/spainflag.png" class="headerrightcontent" id="imgSpanish" title="@Resource.ChangeLanguageToSpanish" onclick="ChangeLanguage('1')" />
                    <img src="~/Content/Images/usaflag.png" class="headerrightcontent" id="imgEnglish" title="@Resource.ChangeLanguageToEnglish" onclick="ChangeLanguage('0')"/>
                </div>
                <div class="col-md-12" align="right">
                    <label class="headerrightcontent">@fullName</label> @Html.ActionLink("("+Resource.Logout+")", "Logout") 
                </div>
              
            </div>
            @* <div class="col-md-4" style="margin-top:35px">

                   @(Html.Kendo().Menu().Name("mainMenu").HoverDelay(0).Items(m =>
                {
                    if (user.Profile.ProfilesAccesses.Where(a => a.Section.Name == "Positions").Count() > 0)
                    {
                        m.Add().Text(Resource.Positions.ToLower()).HtmlAttributes(new { @class="menuitem"}).Action("Index", "Applicant");
                    }
                    if (user.Profile.ProfilesAccesses.Where(a => a.Section.Name == "Applications").Count() > 0)
                    {
                        m.Add().Text(Resource.Applications.ToLower()).HtmlAttributes(new { @class = "menuitem" }).Action("Index", "Application");
                    }
                    if (user.Profile.ProfilesAccesses.Where(a => a.Section.Name == "Configuration").Count() > 0)
                    {
                        m.Add().Text(Resource.Configuration.ToLower()).HtmlAttributes(new { @class = "menuitem" }).Items(c =>
                        {
                            if (user.Profile.ProfilesAccesses.Where(a => a.Section.Name == "Profiles").Count() > 0)
                            {
                                c.Add().Text(Resource.Profiles).HtmlAttributes(new { @class = "menuitem" }).Action("Profiles", "Configuration");
                            }
                            if (user.Profile.ProfilesAccesses.Where(a => a.Section.Name == "Users").Count() > 0)
                            {
                                c.Add().Text(Resource.Users).HtmlAttributes(new { @class = "menuitem" }).Action("Users", "Configuration");
                            }
                        });
                    }
                    m.Add().Text(Resource.Logout.ToLower()).Action("Logout", "Login");

                }))

                </div>*@
        </div>
        <div class="col-md-12">
            @(Html.Kendo().Menu().Name("mainMenu").HoverDelay(0).Items(m =>
        {
            if (applicationFullAccessPermission || processedFilesPermission )
            {
                m.Add().Text(Resource.ProcessedFiles).HtmlAttributes(new { }).Action("Index", "ProcessedFiles");
            }

            if (applicationFullAccessPermission || searchEmployeePermission)
            {
                m.Add().Text(Resource.SearchEmployee).HtmlAttributes(new { }).Action("Index", "EmployeeSearch");
            }
            if (applicationFullAccessPermission || screenFieldsPermission|| profilePermissions)
            {
                m.Add().Text(Resource.Configuration).HtmlAttributes(new { }).Items(c =>
                {
                    if (applicationFullAccessPermission || screenFieldsPermission)
                    {
                        c.Add().Text(Resource.ScreenFields).HtmlAttributes(new { }).Action("ScreenFields", "Configuration");
                    }
                    if (applicationFullAccessPermission || profilePermissions)
                    {
                        c.Add().Text(Resource.ProfilePermissions).HtmlAttributes(new { }).Action("ProfilePermissions", "Configuration");
                    }
                });
            }
        }))

        </div>
    </div>
    <div class="body-container">
        @RenderBody()
    </div>
    <footer class="footer" id="divFooter">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year CooperVision | @Resource.PartOf <a href="http://www.coopercos.com" target="_blank">The Cooper Companies</a></p>
            </div>
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
            <div class="col-xs-6">
                @*<a id="lnkActionSave" class="menuitem" style="display:none">@Resource.Save.ToUpper()</a>*@
            </div>
            <div class="col-xs-6">
                @*<a id="lnkActionSubmit" class="menuitem" style="display:none">@Resource.Submit.ToUpper()</a>*@
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function ()
        {
            $("#menu").kendoMenu();

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e)
        {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>
<div id="fullModal" class="modal fade" role="dialog">

</div>
<div class="alert" id="notificationMessage">
    <strong id="strongMessage"></strong>
  <img src="~/Content/Images/checked.png" id="imgNotificationImage" />  <label id="mess"></label>
</div>
