﻿@using Resources;
@using System.Threading;
@using System.Globalization;
@using Resources;

<head>
    <title>HRIS</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2016.3.1118/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.3.1118/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/login.js")"></script>
</head>@{
    var error = (String)ViewData["error"];

    int culture = 0;

    if (Session["CurrentCulture"] != null)
    {
        int.TryParse(Session["CurrentCulture"].ToString(), out culture);
    }

    if (culture == 0)
    {
        <script src="@Url.Content("~/Scripts/Cultures/messages_en.js")"></script>
    }
    else
    {
        <script src="@Url.Content("~/Scripts/Cultures/messages_es.js")"></script>
    }

    Session["CurrentCulture"] = culture;

}
<style>

    #langEsp
    {
        margin-top: 1%;
        margin-right: .25%;
        background-image: url(../Images/SP.png);
        width: 36px;
        height: 36px;
    }

        #langEsp:hover
        {
            background-image: url(../Images/SP_.png);
        }

    #langEng
    {
        margin-top: 1%;
        margin-right: 0.5%;
        width: 36px;
        height: 36px;
        background-image: url(../Images/EN.png);
    }

        #langEng:hover
        {
            background-image: url(../Images/EN_.png);
        }

    footer
    {
        background-color: #13143F;
        height: 50px;
        color: #ffffff;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }

        footer p
        {
            color: #ffffff;
            vertical-align: middle;
        }
</style>
@*<div class="logoLogin">
        <div class="col-xs-12">
            <div class="col-xs-9">

            </div>
            <div class="col-xs-3">
                <a id="langEng" href="@Url.Action("ChangeCurrentCulture",new { id=0 })" style="float:right; margin-top:1%; margin-right:1%;"></a>
                <a id="langEsp" href="@Url.Action("ChangeCurrentCulture",new { id=1 })" style="float:right; margin-top:1%; margin-right:0.5%;"></a>
            </div>
        </div>
    </div>*@
<body>
    <div class="loginContainer">
        <div class="loginBoxOut">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "loginform", @name = "loginform" }))
            {
                <div class="loginBoxIn">
                    <div class="form-group">
                        <img src="~/Content/Images/HRIS-Logo.png" />                     
                        <input type="text" class="loginFormElement" name="user" id="user" placeholder="@Resource.Username">
                        <input type="password" class="loginFormElement" name="password" id="password" placeholder="@Resource.Password">
                        <button class="loginFormElement yellowButton" id="submit" type="submit"><span>@Resource.SignIn.ToUpper()</span></button>
                        <br />

                    </div>
                    <div class="errorMsg" style="@(error == null ? Html.Raw("display:none;") : Html.Raw("")  )  ">
                        <label class="error">@Html.Raw(error)</label>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
<footer>
    <p>&copy; @DateTime.Now.Year CooperVision | @Resource.PartOf <a href="http://www.coopercos.com" target="_blank">The Cooper Companies</a></p>
</footer>