﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;
@{ 
    string addressDisabledFields = ViewData["AddressDisabledFields"] != null ? ViewData["AddressDisabledFields"].ToString() : string.Empty;

}
<script>

    function SaveAddress(e)
    {
        $("#Address").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false

            });

        if ($('#Address').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#Address").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#Address").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SaveAddress", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#gridAddress').data("kendoGrid").dataSource.read();

                        $('#PersonAddressSeqNo').val(result.seqNo);
                        $('#AddressTimestamp').val(result.timestamp);

                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }


    $(document).ready(function ()
    {
        $("@addressDisabledFields").attr('disabled', 'disabled')

    });


</script>

@model tPERSON_ADDRESSES
<form id="Address">
    <div class="contentinfo">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnAddressNew").Content(Resource.New).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("NewAddress"))
                @Html.Kendo().Button().Name("btnAddressSave").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SaveAddress"))
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.Address</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.HiddenFor(m => m.PersonAddressChangeDate)
                        @Html.HiddenFor(m => m.PersonAddressSeqNo)
                        @Html.HiddenFor(m => m.PersonIdNo)
                        @Html.Hidden("AddressTimestamp", Model.Timestamp)
                        @Html.LabelFor(m => m.PersonAddressFromEffectDate, Resource.EffectiveFrom)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.PersonAddressFromEffectDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.PersonAddressToEffectDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonAddress1, Resource.Address)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonAddress1)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonAddress2)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonAddressCity, Resource.City)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonAddressCity)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonAddressStateProvinceIdNo, Resource.State + ", " + Resource.ZipCode)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.PersonAddressStateProvinceIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["StateList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonAddressPostalCode)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonAddressCountryCodeIdNo, Resource.Country)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.PersonAddressCountryCodeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["CountryList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonAddressCountyIdNo, Resource.County)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.PersonAddressCountyIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["CountyList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.AddressType</h4><br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.PersonAddressTypeIdNo, Resource.AddressType + "*")
                        </div>
                        <div class="col-md-4">
                            @Html.Kendo().DropDownListFor(m => m.PersonAddressTypeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["AddressTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage = Resource.AddressType + " " + Resource.IsRequired })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.PersonAddressPrimaryInd, Resource.Primary)
                        </div>
                        <div class="col-md-4">
                            @Html.Kendo().CheckBoxFor(m => m.PersonAddressPrimaryInd)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>