﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;
@{
    string emailDisabledFields = ViewData["EmailDisabledFields"] != null ? ViewData["EmailDisabledFields"].ToString() : string.Empty;
}
<script>

    function SaveEmail(e)
    {
        $("#Email").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false
            });

        if ($('#Email').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#Email").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#Email").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SaveEmail", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#EMailSeqNo').val(result.seqNo);
                        $('#EmailTimestamp').val(result.timestamp);

                        $('#gridEmail').data("kendoGrid").dataSource.read();

                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }

    $(document).ready(function ()
    {
        $("@emailDisabledFields").attr('disabled', 'disabled');

    });

</script>

@model tEMAIL
<form id="Email">
    <div class="contentinfo">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnEmailNew").Content(Resource.New).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("NewEmail"))
                @Html.Kendo().Button().Name("btnEmailSave").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SaveEmail"))
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h4>@Resource.EmailAddress</h4><br />
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.HiddenFor(m => m.EMailChangeDate)
                    @Html.HiddenFor(m => m.EMailFromEffectDate)

                    @Html.HiddenFor(m => m.EMailSeqNo)
                    @Html.HiddenFor(m => m.EMailToEffectDate)
                    @Html.HiddenFor(m => m.PersonIdNo)

                    @Html.Hidden("EmailTimestamp", Model.Timestamp)

                    @Html.LabelFor(m => m.EMailAddress, Resource.EmailAddress + "*")
                </div>
                <div class="col-md-4">
                    @Html.Kendo().TextBoxFor(m => m.EMailAddress).HtmlAttributes(new { required = "required" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>@Resource.Type</h4><br />
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EMailPrimaryInd, Resource.Primary)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.EMailPrimaryInd)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>