﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;
@{ 
    string employmentStatusDisabledFields = ViewData["EmploymentStatusDisabledFields"] != null ? ViewData["EmploymentStatusDisabledFields"].ToString() : string.Empty;
}
<script>

    function SaveEmploymentStatus(e)
    {
        $("#EmploymentStatusForm").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false,
                 rules:
                    {
                        effectivedatereq: function (input)
                        {
                            if (input.prop("id") == "effectiveDateEmploymentStatus" && $("[name='neworupdateemploymentstatus']:checked").val() == "n" && $("#effectiveDateEmploymentStatus").val() == "")
                            {
                                return false;
                            }

                            return true;
                        },
                        effectivedate: function (input)
                        {
                            if (input.prop("id") == "effectiveDateEmploymentStatus" && $("[name='neworupdateemploymentstatus']:checked").val()== "n")
                            {
                                var effDate = new Date($("#" + input.prop("id")).val());
                                var from = new Date($("#EmploymentStatusFromEffectDate").val());
                                var to = new Date($("#EmploymentStatusToEffectDate").val());
                                if (effDate<from || effDate >to)
                                {
                                    return false;
                                }
                            }
                            return true;
                         },
                         terminationdate: function (input)
                         {
                             if (input.prop("id") == "TerminationDate" && $("#TerminationDate").val() != "")
                             {
                                 var original = new Date($("#OriginalHireDate").val());
                                 var termination = new Date($("#TerminationDate").val());
                                 if (original > termination)
                                 {
                                     return false;
                                 }
                             }
                             return true;
                         }
                    },
                messages:
                    {
                        effectivedate: "@Resource.EffectiveDateMustBeBetweenFromAndTo",
                        effectivedatereq: "@Resource.EffectiveDate" + " " + "@Resource.IsRequired",
                        terminationdate: "@Resource.TerminationDateMustBeGreaterThanOroginalHireDate"
                    }
            });

        if ($('#EmploymentStatusForm').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#EmploymentStatusForm").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#EmploymentStatusForm").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SaveEmploymentStatus", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#EmploymentStatusSeqNo').val(result.seqNo);
                        $('#EmploymentStatusTimestamp').val(result.timestamp);
                        $('#EmploymentStatusFromEffectDate').val(result.effectivefrom);
                        $('#EmploymentStatusToEffectDate').val(result.effectiveto);

                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }

    $(document).ready(function ()
    {
        $("@employmentStatusDisabledFields").attr('disabled', 'disabled');

    });

</script>

@model tEMPLOYMENT_STATUS
<form id="EmploymentStatusForm">
    <div class="contentinfo">
         <div class="col-md-12">
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnSaveEmploymentStatus").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SaveEmploymentStatus"))
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radNewEmploymentStatus").Label(Resource.CreateNewRecordEffective).HtmlAttributes(new { @name = "neworupdateemploymentstatus", @style = "margin-right:15px;" }).Value("n")
                @Html.Kendo().DatePicker().Name("effectiveDateEmploymentStatus").HtmlAttributes(new { @style = "width:150px;" }).Value(DateTime.Today)
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radUpdateEmploymentStatus").Label(Resource.UpdateThisRecord).HtmlAttributes(new { @name = "neworupdateemploymentstatus" }).Value("u").Checked(true)
            </div>
        </div>      
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.EmploymentStatus</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                   
                        @Html.HiddenFor(m => m.EmploymentStatusChangeDate)                       
                        @Html.HiddenFor(m => m.EmploymentStatusSeqNo)
                        @Html.HiddenFor(m => m.FullTimeHoursPerWeek)                
                        @Html.HiddenFor(m => m.OrgCodeIdNo)
                        @Html.HiddenFor(m => m.PersonIdNo)
                        @Html.Hidden("EmploymentStatusTimestamp", Model.Timestamp)

                        @Html.LabelFor(m => m.EmploymentStatusFromEffectDate, Resource.EffectiveFrom)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.EmploymentStatusFromEffectDate).HtmlAttributes(new { required = "required" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusToEffectDate, Resource.EffectiveTo)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.EmploymentStatusToEffectDate).HtmlAttributes(new { required = "required" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmployeeStatusIdNo, Resource.EmployeeStatus + "*")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.EmployeeStatusIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["EmployeeStatusList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage = Resource.EmployeeStatus + " " + Resource.IsRequired })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatus, Resource.EmploymentStatus)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.EmploymentStatus).BindTo((List<HRIS.Models.HRISListObject>)ViewData["EmpoymentStatusList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.FullTimeInd, Resource.FullTime)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.FullTimeInd)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmpNo, Resource.EmployeeId)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.EmpNo)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusReasonIdNo, Resource.EmploymentReason)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.EmploymentStatusReasonIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["EmpoymentReasonList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.EmploymentDates</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.OriginalHireDate, Resource.OriginalHireDate + "*")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.OriginalHireDate).HtmlAttributes(new { required = "required" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.LastHireDate, Resource.LastHire)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.LastHireDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.SeniorityDate, Resource.Senority)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.SeniorityDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.LeaveReturnDate, Resource.ReturnFromLeave)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.LeaveReturnDate)
                    </div>
                </div>
                <h4>@Resource.Recruiting</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.RecruiterCode, Resource.Recruiter)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.RecruiterCode).BindTo((List<HRIS.Models.HRISListObject>)ViewData["RecruiterList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.SourceOfHireCode, Resource.SourceOfHire)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.SourceOfHireCode).BindTo((List<HRIS.Models.HRISListObject>)ViewData["SouceOfHireList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.I9FilingRequirements</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.I9FormOnFileIdNo, Resource.OnFile)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.I9FormOnFileIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["I9FormOnFileList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.I9RenewalDate, Resource.RenewalDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.I9RenewalDate)
                    </div>
                </div>
                <h4>@Resource.TerminationStatus</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.TerminationDate, Resource.TerminationDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.TerminationDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.TerminationTypeIdNo, Resource.Type)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.TerminationTypeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["TerminationTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Rehire, Resource.ElegibleForRehire)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBox().Name("Rehire").Checked(Model.Rehire != null && Model.Rehire.ToUpper() == "Y"?true:false)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.UserDefined</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusUserDefined1, Resource.UserDefinedField+ "1")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.EmploymentStatusUserDefined1)
                    </div>
                </div>
                  <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusUserDefined2, Resource.UserDefinedField+ "2")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.EmploymentStatusUserDefined2)
                    </div>
                </div>
                  <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusUserDefined3, Resource.UserDefinedField+ "3")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.EmploymentStatusUserDefined3)
                    </div>
                </div>
                  <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EmploymentStatusUserDefined4, Resource.UserDefinedField+ "4")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().NumericTextBoxFor(m => m.EmploymentStatusUserDefined4).Decimals(2).Spinners(false)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>