﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;
@using HRIS.Models
@{
    string payrollStatusDisabledFields = ViewData["PayrollStatusDisabledFields"] != null ? ViewData["PayrollStatusDisabledFields"].ToString() : string.Empty;

    int employeeClassificationIdNo = ViewData["EmployeeClassificationIdNo"] != null && int.TryParse(ViewData["EmployeeClassificationIdNo"].ToString(), out employeeClassificationIdNo) ? employeeClassificationIdNo : 0;
    int employeeClassificationSeqNo = ViewData["EmployeeClassificationSeqNo"] != null && int.TryParse(ViewData["EmployeeClassificationSeqNo"].ToString(), out employeeClassificationSeqNo) ? employeeClassificationSeqNo : 0;
    string employeeClassificationTimestamp = ViewData["EmployeeClassificationTimestamp"] != null ? ViewData["EmployeeClassificationTimestamp"].ToString() : string.Empty;
    int exemptStatusIdNo = ViewData["ExemptStatusIdNo"] != null && int.TryParse(ViewData["ExemptStatusIdNo"].ToString(), out exemptStatusIdNo) ? exemptStatusIdNo : 0;
    int exemptStatusSeqNo = ViewData["ExemptStatusSeqNo"] != null && int.TryParse(ViewData["ExemptStatusSeqNo"].ToString(), out exemptStatusSeqNo) ? exemptStatusSeqNo : 0;
    string exemptStatusTimestamp = ViewData["ExemptStatusTimestamp"] != null ? ViewData["ExemptStatusTimestamp"].ToString() : string.Empty;
}
<script>

    function SavePayroll(e)
    {
        $("#Payroll").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false
            });

        if ($('#Payroll').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#Payroll").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#Payroll").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SavePayrollStatus", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#PersonPayrollSetupSeqNo').val(result.seqNo);
                        $('#PayrollTimestamp').val(result.timestamp);
                        $('#PersonPayrollSetupStartDate').val(result.effectivefrom);
                        $('#PersonPayrollSetupEndDate').val(result.effectiveto);

                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }

    $(document).ready(function ()
    {
        $("@payrollStatusDisabledFields").attr('disabled', 'disabled');

    });

</script>

@model tPERSON_PAYROLL_SETUPS
<form id="Payroll">
    <div class="contentinfo">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnSavePayroll").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SavePayroll"))
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radNewPayroll").Label(Resource.CreateNewRecordEffective).HtmlAttributes(new { @name = "neworupdatepayroll", @style = "margin-right:15px;" }).Value("n")
                @Html.Kendo().DatePicker().Name("effectiveDatePayroll").HtmlAttributes(new { @style = "width:150px;" }).Value(DateTime.Today)
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radUpdatePayroll").Label(Resource.UpdateThisRecord).HtmlAttributes(new { @name = "neworupdatepayroll" }).Value("u").Checked(true)
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h4>@Resource.PayrollStatus</h4><br />
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.HiddenFor(m => m.BenefitPayGroupInd)
                    @Html.HiddenFor(m => m.PayGroupIdNo)
                    @Html.HiddenFor(m => m.PersonIdNo)
                    @Html.HiddenFor(m => m.PersonPayrollSetupChangeDate)
                    @Html.HiddenFor(m => m.PersonPayrollSetupSeqNo)
                    @Html.HiddenFor(m => m.ResidenceLocationIdNo)
                    @Html.Hidden("PayrollTimestamp", Model.PersonPayrollSetupTimestamp)
                    @Html.LabelFor(m => m.PersonPayrollSetupStartDate, Resource.StartDate)
                    @Html.Hidden("EmployeeClassificationSeqNo", employeeClassificationSeqNo.ToString())
                    @Html.Hidden("EmployeeClassificationTimestamp", employeeClassificationTimestamp.ToString())
                    @Html.Hidden("ExemptStatusSeqNo", exemptStatusSeqNo.ToString())
                    @Html.Hidden("ExemptStatusTimestamp", exemptStatusTimestamp.ToString())

                </div>
                <div class="col-md-4">
                    @Html.Kendo().DatePickerFor(m => m.PersonPayrollSetupStartDate).HtmlAttributes(new { required = "required" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.PersonPayrollSetupEndDate, Resource.EndDate)
                </div>
                <div class="col-md-4">
                    @Html.Kendo().DatePickerFor(m => m.PersonPayrollSetupEndDate).HtmlAttributes(new { required = "required" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.PayrollStatusCodeIdNo, Resource.PayrollStatus + "*")
                </div>
                <div class="col-md-4">
                    @Html.Kendo().DropDownListFor(m => m.PayrollStatusCodeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["PayrollStatusList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage = Resource.SalariedHourly + " " + Resource.IsRequired }).HtmlAttributes(new { required="required", validationmessage=Resource.PayrollStatus + " "+ Resource.IsRequired})
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.Label(Resource.EmployeeClassification + "*")
                </div>
                <div class="col-md-4">
                    @Html.Kendo().DropDownList().Name("EmployeeClassificationIdNo").BindTo((List<HRIS.Models.HRISListObject>)ViewData["EmpClassificationList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage = Resource.SalariedHourly + " " + Resource.IsRequired }).Value(employeeClassificationIdNo != 0 ? employeeClassificationIdNo.ToString() : null).HtmlAttributes(new { required = "required", validationmessage = Resource.EmployeeClassification + " " + Resource.IsRequired })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.Label(Resource.TaxExemptStatus + "*")
                </div>
                <div class="col-md-4">
                    @Html.Kendo().DropDownList().Name("ExemptStatusIdNo").BindTo((List<HRIS.Models.HRISListObject>)ViewData["TaxStatusList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage = Resource.SalariedHourly + " " + Resource.IsRequired }).Value(exemptStatusIdNo != 0 ? exemptStatusIdNo.ToString() : null).HtmlAttributes(new { required = "required", validationmessage = Resource.TaxExemptStatus + " " + Resource.IsRequired })
                </div>
            </div>
        </div>
    </div>
       <h4>@Resource.Properties</h4><br />
    <div class="col-md-12">
          @(Html.Kendo().Grid<PayrollSetupValuesModel>().Name("gridPayCodeValues")
                                                                    .BindTo((IEnumerable<PayrollSetupValuesModel>) ViewData["PayrollSetupValuesList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.PersonPayrollSetupValueSeqNo).Hidden();
                                                                        c.Bound(m => m.Description).Title(Resource.Description);
                                                                        c.Bound(m => m.Type).Title(Resource.Type);
                                                                        c.Bound(m => m.Value).Title(Resource.Value);
                                                                        c.Bound(m => m.FromEffectiveDate).Title(Resource.EffectiveFrom).Format("{0:MM-dd-yyyy}");
                                                                        c.Bound(m => m.FromEffectiveDate).Title(Resource.EffectiveTo).Format("{0:MM-dd-yyyy}");

                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                    // .Pageable()                                                                    
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.PersonPayrollSetupValueSeqNo);
                                                                        });
                                                                        //  .PageSize(10)

                                                                    })

                                                                    )

    </div>
</form>