﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;

@{ 
    string userName = string.Empty;

    if(ViewData["UserName"] !=null)
    {
        userName = ViewData["UserName"].ToString();
    }

    string personalInfoDisabledFields = ViewData["PersonalInfoDisabledFields"] != null ? ViewData["PersonalInfoDisabledFields"].ToString() : string.Empty;

}

<script>
    function SavePersonalInfo(e)
    {
        $("#PersonalInfo").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false,
                rules:
                    {
                        effectivedatereq: function (input)
                        {
                            if (input.prop("id") == "effectiveDate" && $("[name='neworupdate']:checked").val() == "n" && $("#effectiveDate").val() == "")
                            {
                                return false;
                            }

                            return true;
                        },
                        effectivedate: function (input)
                        {
                            if (input.prop("id") == "effectiveDate" && $("[name='neworupdate']:checked").val()== "n")
                            {
                                var effDate = new Date($("#" + input.prop("id")).val());
                                var from = new Date($("#PersonFromEffectDate").val());
                                var to = new Date($("#PersonToEffectDate").val());
                                if (effDate<from || effDate >to)
                                {
                                    return false;
                                }
                            }
                            return true;
                        }
                    },
                messages:
                    {
                        effectivedate: "@Resource.EffectiveDateMustBeBetweenFromAndTo",
                        effectivedatereq:"@Resource.EffectiveDate" + " " +"@Resource.IsRequired" 
                    }
            });

        if ($('#PersonalInfo').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#PersonalInfo").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#PersonalInfo").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SavePersonalInfo", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#PersonIdNo').val(result.personIdNo);
                        $('#PersonSeqNo').val(result.personSeqNo);
                        $('#Timestamp').val(result.timestamp);
                        $('#PersonFromEffectDate').val(result.effectivefrom);
                        $('#PersonToEffectDate').val(result.effectiveto);
                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }

      $(document).ready(function ()
    {
        $("@personalInfoDisabledFields").attr('disabled', 'disabled')

    });


</script>

@model tPERSON
<form id="PersonalInfo">
    <div class="contentinfo">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnSave").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SavePersonalInfo"))
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radNew").Label(Resource.CreateNewRecordEffective).HtmlAttributes(new { @name = "neworupdate", @style = "margin-right:15px;" }).Value("n")
                @Html.Kendo().DatePicker().Name("effectiveDate").HtmlAttributes(new { @style = "width:150px;" }).Value(DateTime.Today)
            </div>
            <div class="col-md-12">
                @Html.Kendo().RadioButton().Name("radUpdate").Label(Resource.UpdateThisRecord).HtmlAttributes(new { @name = "neworupdate" }).Value("u").Checked(true)
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.EmployeeName</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.HiddenFor(m => m.PersonIdNo)
                        @Html.HiddenFor(m => m.PersonSeqNo)
                        @Html.HiddenFor(m => m.BirthPlace)
                        @Html.HiddenFor(m => m.CampaignVetInd)
                        @Html.HiddenFor(m => m.CountryCode)
                        @Html.HiddenFor(m => m.FormerLastName)
                        @Html.HiddenFor(m => m.PersonChangeDate)
                        @Html.HiddenFor(m => m.SecondaryTitle)
                        @Html.HiddenFor(m => m.Timestamp)
                        @Html.HiddenFor(m => m.VisaInd)
                        @Html.HiddenFor(m => m.VisaStartDate)
                        @Html.HiddenFor(m => m.WorkAllowanceExpirationDate)
                        @Html.HiddenFor(m => m.WorkAllowanceInd)
                        @Html.HiddenFor(m => m.WorkAllowanceStartDate)
                      

                        @Html.LabelFor(m => m.PersonFromEffectDate, Resource.EffectiveFrom)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.PersonFromEffectDate).HtmlAttributes(new { required = "required", validationmessage = Resource.EffectiveFrom + " " + Resource.IsRequired })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonFromEffectDate, Resource.EffectiveTo)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.PersonToEffectDate).HtmlAttributes(new { required="required", validationmessage=Resource.EffectiveTo + " " + Resource.IsRequired})
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.FirstName, Resource.FirstName)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.FirstName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.MiddleName, Resource.MiddleName)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.MiddleName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.LastName, Resource.LastName)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.LastName)
                    </div>
                </div><div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Nickname, Resource.Nickname)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.Nickname)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Salutation, Resource.Salutation)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.Salutation)
                    </div>
                </div><div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.NameSuffix, Resource.Suffix)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.NameSuffix)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.PersonalInformation</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonTaxIdNo, Resource.SocialSecurity)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().MaskedTextBoxFor(m => m.PersonTaxIdNo).Mask("000-00-0000")
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.BirthDate, Resource.BirthDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.BirthDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.Label("lblAge", Resource.Age)
                    </div>
                    <div class="col-md-4">
                        @Html.Label("lblAgeValue", Model.BirthDate.HasValue ? ((int)(DateTime.Today.Subtract(Model.BirthDate.Value).TotalDays / 365)).ToString() : " - ")
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.MaritalStatusIdNo, Resource.MaritalStatus)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.MaritalStatusIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["MaritalStatusList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.GenderIdNo, Resource.Gender)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.GenderIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["GenderList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                 <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.Label("lblUserName", Resource.Username)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBox().Name("newUserName").Value(userName)
                        @Html.Hidden("userName", userName)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.GovernmentComplianceInformation</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.EthnicCodeIdNo, Resource.EthnicOrigin)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.EthnicCodeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["EthnicOriginList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.DisabledInd, Resource.Disabled)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.DisabledInd)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.DisabilityTypeIdNo, Resource.DisabledType)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.DisabilityTypeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["DisabledTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.DisabledVetInd, Resource.DisabledVeteran)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.DisabledVetInd)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.VietnamVetInd, Resource.VietnamVeteran)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.VietnamVetInd)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.OtherVetInd, Resource.OtherProtectedVeteran)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.OtherVetInd)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.ArmedForcesMedalVetInd, Resource.ArmedForcesServiceMedalVeteran)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.ArmedForcesMedalVetInd)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>@Resource.HealthInformation</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Height, Resource.Height)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.Height)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Weight, Resource.Weight)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().NumericTextBoxFor(m => m.Weight).Decimals(0).Format("#").Spinners(false)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.BloodTypeCodeIdNo, Resource.BloodType)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.BloodTypeCodeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["BloodTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.BloodRHFactorIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["BloodFactorList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.SmokerInd, Resource.Smoker)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().CheckBoxFor(m => m.SmokerInd)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.CitizenshipAndMilitaryService</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.CitizenshipIdNo, Resource.Citizenship)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.CitizenshipIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["CitizenshipList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.MilitaryServiceIdNo, Resource.MilitaryService)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.MilitaryServiceIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["MilitaryServiceList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.MilitarySeparationDate, Resource.SeparationDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.MilitarySeparationDate)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.ForeignNationalRegistrationNo, Resource.VisaNumber)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.ForeignNationalRegistrationNo)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.VisaType, Resource.VisaType)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DropDownListFor(m => m.VisaType).BindTo((List<HRIS.Models.HRISListObject>)ViewData["VisaTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.VisaExpirationDate, Resource.VisaExpirationDate)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.VisaExpirationDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.UserDefined</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined1, Resource.UserDefinedField + " 1")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonUserDefined1)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined2, Resource.UserDefinedField + " 2")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonUserDefined2)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined3, Resource.UserDefinedField + " 3")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonUserDefined3)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined4, Resource.UserDefinedField + " 4")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().NumericTextBoxFor(m => m.PersonUserDefined4).Decimals(2).Spinners(false)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined5, Resource.UserDefinedField + " 5")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonUserDefined5)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonUserDefined6, Resource.UserDefinedField + " 6")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonUserDefined6)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>