﻿
@using Models;
@using Kendo.Mvc.UI.Html;
@using Resources;
@{ 
    string phoneDisabledFields = ViewData["PhoneDisabledFields"] != null ? ViewData["PhoneDisabledFields"].ToString() : string.Empty;
}
<script>
    
    function SavePhone(e)
    {
        $("#Phone").kendoValidator
            ({
                onkeyup: false,
                onfocusout: false
            });

        if ($('#Phone').data('kendoValidator').validate())
        {
            ShowModal("fullModal");
            var disabled = $("#Phone").find(':input:disabled').removeAttr('disabled');
            var serializedData = $("#Phone").serialize();
            disabled.attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("SavePhone", "Employee")',
                data: serializedData, // serializes the form's elements.
                success: function (result)
                {
                    HideModal("fullModal");

                    if (result.status == "success")
                    {
                        $('#PersonPhoneSeqNo').val(result.seqNo);
                        $('#PhoneTimestamp').val(result.timestamp);

                        $('#gridPhones').data("kendoGrid").dataSource.read();                        

                        NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                    else
                    {
                          NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                        $("#notificationMessage").fadeIn(1000, function ()
                        {
                            $("#notificationMessage").fadeOut(3500);
                        });
                    }
                }
            });
        }

        e.preventDefault();
    }

     $(document).ready(function ()
    {
         $("@phoneDisabledFields").attr('disabled', 'disabled');

    });


</script>

@model tPERSON_PHONES
<form id="Phone">
    <div class="contentinfo">
        <div class="col-md-12">
            <div class="col-md-3">
                 @Html.Kendo().Button().Name("btnPhoneNew").Content(Resource.New).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("NewPhone"))
                @Html.Kendo().Button().Name("btnPhoneSave").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SavePhone"))
            </div>           
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>@Resource.Phone</h4><br />
                <div class="col-md-12">
                    <div class="col-md-3">                     
                        @Html.HiddenFor(m => m.PersonIdNo)      
                        @Html.HiddenFor(m => m.PersonPhoneChangeDate)      
                        @Html.HiddenFor(m => m.PersonPhoneSeqNo)      
                        @Html.HiddenFor(m => m.PersonPhoneToEffectDate)    
                        @Html.Hidden("PhoneTimestamp", Model.Timestamp)
                        @Html.LabelFor(m => m.PersonPhoneFromEffectDate, Resource.EffectiveFrom)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().DatePickerFor(m => m.PersonPhoneFromEffectDate)
                    </div>                   
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonPhoneNo, Resource.Number+"*")
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonPhoneNo).HtmlAttributes(new { required="required"})
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PersonPhoneExt, Resource.Extension)
                    </div>
                    <div class="col-md-4">
                        @Html.Kendo().TextBoxFor(m => m.PersonPhoneExt)
                    </div>
                </div>              
            </div>
            <div class="col-md-6">
                <h4>@Resource.PhoneType</h4><br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.PersonPhoneTypeIdNo, Resource.PhoneType)
                        </div>
                        <div class="col-md-4">
                            @Html.Kendo().DropDownListFor(m => m.PersonPhoneTypeIdNo).BindTo((List<HRIS.Models.HRISListObject>)ViewData["PhoneTypeList"]).DataTextField("Description").DataValueField("Value").ValuePrimitive(true).OptionLabel(Resource.Select).Filter(FilterType.Contains).HtmlAttributes(new { required = "required", validationmessage=Resource.PhoneType + " " + Resource.IsRequired })
                        </div>
                    </div>
                      <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.PersonPhonePrimaryInd, Resource.Primary)
                        </div>
                        <div class="col-md-4">
                            @Html.Kendo().CheckBoxFor(m => m.PersonPhonePrimaryInd)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>