﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string personIdNo = ViewData["PersonId"].ToString();
    string effDate = ((DateTime)ViewData["EffectiveDate"]) != null ? ((DateTime)ViewData["EffectiveDate"]).ToShortDateString() : DateTime.Today.ToShortDateString();
    string payStatusPosition = ViewData["PayStatusPosition"] != null ? ViewData["PayStatusPosition"].ToString() : string.Empty;
    string empFullName = ViewData["EmpFullName"] != null ? ViewData["EmpFullName"].ToString() : string.Empty;

}
<style>
    rbs-editField-valueContainer input[disabled], .rbs-editField-valueContainer textArea[disabled], .rbs-editField-valueContainer > .k-multiselect.k-state-disabled, .rbs-editField-valueContainer > .k-dropdown > .k-dropdown-wrap.k-state-disabled > span {
        background-color: grey;
    } 
   
</style>
@using HRIS.Models;
@using Resources;
@Html.Hidden("hdfAddressFirstTime","1")
@Html.Hidden("hdfPhoneFirstTime","1")
@Html.Hidden("hdfEmailFirstTime","1")
@Html.Hidden("hdfPersonPositionFirstTime", "1")
@Html.Hidden("hdfPaySateFirstTime", "1")
<h4>@empFullName</h4>
@(Html.Kendo().TabStrip()
                    .Name("tabstripEmployee")
                    .Items(tabstrip =>
                    {
                        tabstrip.Add().Text(Resource.PersonalInfo).Selected(true).Content(@<div>@Html.Action("_PersonalInfo", "Employee", new { personId = personIdNo, effectiveDate = effDate })</div>);
                        tabstrip.Add().Text(Resource.Address).Content(@<div>
                                                                   @(Html.Kendo().Grid<PersonAddress>().Name("gridAddress")
                                                                    .BindTo((IEnumerable<PersonAddress>) ViewData["AddressList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.PersonAddressSeqNo).Hidden();
                                                                        c.Bound(m => m.PersonIdNo).Hidden();
                                                                        c.Bound(m => m.Type).Title(Resource.AddressType);
                                                                        c.Bound(m => m.Address).Title(Resource.Address);
                                                                        c.Bound(m => m.City).Title(Resource.City);
                                                                        c.Bound(m => m.State).Title(Resource.State);
                                                                        c.Bound(m => m.PersonAddressPostalCode).Title(Resource.ZipCode);
                                                                        c.Bound(m => m.Primary).Title(Resource.Primary);
                                                                        c.Bound(m => m.PersonAddressFromEffectDate).Title(Resource.EffectiveFrom).Format("{0:MM-dd-yyyy}").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" });
                                                                        c.Bound(m => m.PersonAddressToEffectDate).Title(Resource.EffectiveFrom).Format("{0:MM-dd-yyyy}").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" });

                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                    // .Pageable()                                                                    
                                                                    .Events(ev=>ev.Change("AddressGridChanged").DataBound("AddressGridDataBound"))
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.PersonAddressSeqNo);
                                                                        })
                                                                        //  .PageSize(10)
                                                                        .Read(read=>read.Action("ReadAddress","Employee").Data("GetData"));

                                                                    })

                                                                    )
                            <div id="divAddress"></div>
                                                                </div>);
                        tabstrip.Add().Text(Resource.Phone).Content(@<div>
                                @(Html.Kendo().Grid<PersonPhone>().Name("gridPhones")
                                                                    .BindTo((IEnumerable<PersonPhone>) ViewData["PhoneList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.PersonPhoneSeqNo).Hidden();
                                                                        c.Bound(m => m.PersonIdNo).Hidden();
                                                                        c.Bound(m => m.Type).Title(Resource.PhoneType);
                                                                        c.Bound(m => m.Number).Title(Resource.Number);
                                                                        c.Bound(m => m.Primary).Title(Resource.Primary);
                                                                        c.Bound(m => m.Extension).Title(Resource.Extension);
                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                    // .Pageable()                                                                    
                                                                    .Events(ev=>ev.Change("PhonesGridChanged").DataBound("PhonesGridDataBound"))
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.PersonPhoneSeqNo);
                                                                        })
                                                                        //  .PageSize(10)
                                                                        .Read(read=>read.Action("ReadPhones","Employee").Data("GetData"));

                                                                    })

                                                                    )
                            <div id="divPhone"></div>
                            
                            </div>);
                        tabstrip.Add().Text(Resource.Email).Content(@<div>
                            @(Html.Kendo().Grid<PersonEmail>().Name("gridEmail")
                                                                    .BindTo((IEnumerable<PersonEmail>) ViewData["EmailList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.EMailSeqNo).Hidden();
                                                                        c.Bound(m => m.PersonIdNo).Hidden();
                                                                        c.Bound(m => m.EMailAddress).Title(Resource.EmailAddress);
                                                                        c.Bound(m => m.Primary).Title(Resource.Primary);
                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                   // .Pageable()                                                                    
                                                                    .Events(ev=>ev.Change("EmailGridChanged").DataBound("EmailGridDataBound"))                                                                    
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.EMailSeqNo);
                                                                        })
                                                                      //  .PageSize(10)
                                                                        .Read(read=>read.Action("ReadEmails","Employee").Data("GetData"));
                                                                       
                                                                    })
                                                                    
                                                                    )
                            <div id="divEmail"></div>
                            </div>);
                        tabstrip.Add().Text(Resource.EmploymentStatus).Content(@<div>@Html.Action("_EmploymentStatus", "Employee", new { personId = personIdNo, effectiveDate = effDate })</div>);
                        tabstrip.Add().Text(Resource.Position).Content(@<div>
                             @(Html.Kendo().Grid<PersonPosition>().Name("gridPersonPosition")
                                                                    .BindTo((IEnumerable<PersonPosition>) ViewData["PositionList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.PersonPositionSeqNo).Hidden();
                                                                        c.Bound(m => m.PersonIdNo).Hidden();
                                                                        c.Bound(m => m.PositionCode).Title(Resource.Position);
                                                                        c.Bound(m => m.PositionDescription).Title(Resource.Description);
                                                                        c.Bound(m => m.Primary).Title(Resource.Primary);
                                                                        c.Bound(m => m.JobCode).Title(Resource.JobCode);

                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                    // .Pageable()                                                                    
                                                                    .Events(ev=>ev.Change("PersonPositionGridChanged").DataBound("PersonPositionGridDataBound"))
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.PersonPositionSeqNo);
                                                                        })
                                                                        //  .PageSize(10)
                                                                        .Read(read=>read.Action("ReadPersonPositions","Employee").Data("GetData"));

                                                                    })

                                                                    )
                            <div id="divPersonPosition"></div>
                            </div>);
                        tabstrip.Add().Text(Resource.PayStatus).Content(@<div>
    <div class="col-md-12">

        <div class="col-md-12">
            @Resource.YouAreViewingPayStatusFor
        </div>
                               <div class="col-md-2">
                        @(Html.Kendo().DropDownList().Name("ddlPayStatusPosition")
                                            .BindTo((List<HRIS.Models.HRISListObject>)ViewData["PayStatusPositionList"])
                                            .DataTextField("Description")
                                            .DataValueField("Value")
                                            .ValuePrimitive(true)
                                            .Filter(FilterType.Contains)                                        
                                            .Events(ev => ev.Change("PayStatusPositionChanged"))
                                            .Value(payStatusPosition.ToString())
                        )
                    </div>
        <div class="col-md-10">&nbsp;</div>
    </div> 
    <div class="col-md-12">
                             @(Html.Kendo().Grid<PersonPayStatus>().Name("gridPayStatus")
                                                                    .BindTo((IEnumerable<PersonPayStatus>) ViewData["PayStatusList"])
                                                                    .Columns(c=>
                                                                    {
                                                                        c.Bound(m => m.PayStatusSeqNo).Hidden();
                                                                        c.Bound(m => m.PersonIdNo).Hidden();
                                                                        c.Bound(m => m.PositionIdNo).Hidden();
                                                                        c.Bound(m => m.EffectiveFrom).Title(Resource.EffectiveFrom);
                                                                        c.Bound(m => m.CompensationType).Title(Resource.Type);
                                                                        c.Bound(m => m.PayRate).Title(Resource.PayRate);
                                                                        c.Bound(m => m.Frequency).Title(Resource.Frequency);
                                                                        c.Bound(m => m.AnnualSalary).Title(Resource.AnnualSalary);
                                                                        c.Bound(m => m.Reason).Title(Resource.PayStatusReason);
                                                                        c.Bound(m => m.LastChangeDate).Title(Resource.LastChangeDate);
                                                                        c.Bound(m => m.NextChangeDate).Title(Resource.NextChangeDate);
                                                                        c.Bound(m => m.LastChangeAmount).Title(Resource.LastChangeAmount);

                                                                    })
                                                                    .Selectable()
                                                                    .NoRecords(Resource.NoRecordsToDisplay)
                                                                    // .Pageable()                                                                    
                                                                    .Events(ev=>ev.Change("PayStatusGridChanged").DataBound("PayStatusGridDataBound"))
                                                                    .DataSource(d=>
                                                                    {
                                                                        d.Ajax().Model(m =>
                                                                        {
                                                                            m.Id(f => f.PayStatusSeqNo);
                                                                        })
                                                                        //  .PageSize(10)
                                                                        .Read(read=>read.Action("ReadPayStatus","Employee").Data("GetPayStatusData"));

                                                                    })

                                                                    )
    </div>
                            <div id="divPayStatus"></div>
                            </div>);
                        tabstrip.Add().Text(Resource.PayrollStatus).Content(@<div>@Html.Action("_PayrollStatus", "Employee", new { personId = personIdNo, effectiveDate = effDate })</div>);
                    }))

<script>

    function PayStatusGridDataBound(e)
    {
        if ($("#hdfPaySateFirstTime").val() == "1")
        {
            if ($('#gridPayStatus').data("kendoGrid").dataItems().length > 0)
            {
                var item = e.sender.select("tr:eq(1)");
            }
            else
            {
                $("#divPayStatus").load('@Url.Action("_PayStatus", "Employee")' + '?personId=' + "@personIdNo" + '&seqNo=0&effectiveDate=' + "@(effDate.ToString())" + '&positionId='+$('#ddlPayStatusPosition').data('kendoDropDownList').value(), function ()
                {
                    SetDisabledStyle();
                    HideModal("fullModal");
                });
            }

        }
        else
        {
            if ($('#gridPayStatus').data("kendoGrid").dataSource.get($('#PayStatusSeqNo').val()))
            {
                $('#gridPayStatus tr[data-uid=' + $('#gridPayStatus').data("kendoGrid").dataSource.get($('#PayStatusSeqNo').val()).uid + ']').addClass('k-state-selected');
            }
            else
            {
                $("#divPayStatus").load('@Url.Action("_PayStatus", "Employee")' + '?personId=' + "@personIdNo" + '&seqNo=0&effectiveDate=' + "@(effDate.ToString())" + '&positionId='+$('#ddlPayStatusPosition').data('kendoDropDownList').value(), function ()
                {
                    SetDisabledStyle();
                    HideModal("fullModal");
                });
            }
        }
    }

    function PayStatusGridChanged()
    {
          var date = "@(effDate.ToString())"

        if ($("#hdfPaySateFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        $("#hdfPaySateFirstTime").val("0");


        var selected = $.map(this.select(), function (item)
        {
            return $(item);
        });

        var data = $('#gridPayStatus').data("kendoGrid").dataItem(selected[0]);

        $("#divPayStatus").load('@Url.Action("_PayStatus", "Employee")' + '?personId=' + data.PersonIdNo + '&seqNo=' + data.PayStatusSeqNo + "&effectiveDate=" + date + '&positionId='+data.PositionIdNo, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });
    }

    function PayStatusPositionChanged()
    {
        ShowModal("fullModal");
        $("#hdfPaySateFirstTime").val("1");
        $('#gridPayStatus').data("kendoGrid").dataSource.read();
    }

    function GetPayStatusData()
    {
        return { personId: "@(personIdNo.ToString())", effectiveDate: "@(effDate.ToString())", positionId: $('#ddlPayStatusPosition').data('kendoDropDownList').value()}
    }

    function GetData()
    {
        return { personId:"@(personIdNo.ToString())", effectiveDate:"@(effDate.ToString())"}
    }

    function PersonPositionGridDataBound(e)
    {
        if ($("#hdfPersonPositionFirstTime").val() == "1")
        {
            if ($('#gridPersonPosition').data("kendoGrid").dataItems().length > 0)
            {
                var item = e.sender.select("tr:eq(1)");
            }
          
        }
        else
        {
            if ($('#gridPersonPosition').data("kendoGrid").dataSource.get($('#PersonPositionSeqNo').val()))
            {
                $('#gridPersonPosition tr[data-uid=' + $('#gridPersonPosition').data("kendoGrid").dataSource.get($('#PersonPositionSeqNo').val()).uid + ']').addClass('k-state-selected');
            }
        }
    }

    function PersonPositionGridChanged()
    {
          var date = "@(effDate.ToString())"

        if ($("#hdfPersonPositionFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        $("#hdfPersonPositionFirstTime").val("0");


        var selected = $.map(this.select(), function (item)
        {
            return $(item);
        });

        var data = $('#gridPersonPosition').data("kendoGrid").dataItem(selected[0]);

        $("#divPersonPosition").load('@Url.Action("_Position", "Employee")' + '?personId=' + data.PersonIdNo + '&seqNo=' + data.PersonPositionSeqNo + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });
    }

    function EmailGridChanged()
    {
        var date = "@(effDate.ToString())"

        if ($("#hdfEmailFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        $("#hdfEmailFirstTime").val("0");


        var selected = $.map(this.select(), function (item)
        {
            return $(item);
        });

        var data = $('#gridEmail').data("kendoGrid").dataItem(selected[0]);

        $("#divEmail").load('@Url.Action("_Email", "Employee")' + '?personId=' + data.PersonIdNo + '&seqNo=' + data.EMailSeqNo + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });
    }

    function EmailGridDataBound(e)
    {
        if ($("#hdfEmailFirstTime").val() == "1")
        {
            if ($('#gridEmail').data("kendoGrid").dataItems().length > 0)
            {
                var item = e.sender.select("tr:eq(1)");
            }
            else
            {
                NewEmail(e);
            }
        }
        else
        {
            if ($('#gridEmail').data("kendoGrid").dataSource.get($('#EMailSeqNo').val()))
            {
                $('#gridEmail tr[data-uid=' + $('#gridEmail').data("kendoGrid").dataSource.get($('#EMailSeqNo').val()).uid + ']').addClass('k-state-selected');
            }
        }
    }

    function NewEmail(e)
    {
        if ($("#hdfEmailFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        var grid = $("#gridEmail tr.k-state-selected").removeClass("k-state-selected");

        var personIdNo = "@(personIdNo.ToString())"
        var date = "@(effDate.ToString())"

        $("#divEmail").load('@Url.Action("_Email", "Employee")' + '?personId=' + personIdNo + '&seqNo=0' + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });

        e.preventDefault();
    }

    function PhonesGridChanged()
    {
        var date = "@(effDate.ToString())"

        if ($("#hdfPhoneFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        $("#hdfPhoneFirstTime").val("0");


        var selected = $.map(this.select(), function (item)
        {
            return $(item);
        });

        var data = $('#gridPhones').data("kendoGrid").dataItem(selected[0]);

        $("#divPhone").load('@Url.Action("_Phone", "Employee")' + '?personId=' + data.PersonIdNo + '&seqNo=' + data.PersonPhoneSeqNo + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });
    }

    function PhonesGridDataBound(e)
    {        
        if ($("#hdfPhoneFirstTime").val() == "1")
        {
            if ($('#gridPhones').data("kendoGrid").dataItems().length > 0)
            {
                var item = e.sender.select("tr:eq(1)");
            }
            else
            {
                NewPhone(e);
            }          
        }
        else
        {
            if ($('#gridPhones').data("kendoGrid").dataSource.get($('#PersonPhoneSeqNo').val()))
            {
                $('#gridPhones tr[data-uid=' + $('#gridPhones').data("kendoGrid").dataSource.get($('#PersonPhoneSeqNo').val()).uid + ']').addClass('k-state-selected');
            }
        }
    }

    function NewPhone(e)
    {
        if ($("#hdfPhoneFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        var grid = $("#gridPhones tr.k-state-selected").removeClass("k-state-selected");

        var personIdNo = "@(personIdNo.ToString())"
        var date = "@(effDate.ToString())"

        $("#divPhone").load('@Url.Action("_Phone", "Employee")' + '?personId=' + personIdNo + '&seqNo=0' + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });

        e.preventDefault();
    }

    function AddressGridDataBound(e)
    {
        if ($("#hdfAddressFirstTime").val() == "1")
        {
            if ($('#gridAddress').data("kendoGrid").dataItems().length > 0)
            {
                var item = e.sender.select("tr:eq(1)");
            }
            else
            {
                NewAddress(e);
            }
        }
        else
        {
            if ($('#gridAddress').data("kendoGrid").dataSource.get($('#PersonAddressSeqNo').val()))
            {
                $('#gridAddress tr[data-uid=' + $('#gridAddress').data("kendoGrid").dataSource.get($('#PersonAddressSeqNo').val()).uid + ']').addClass('k-state-selected');
            }
        }
    }

    function AddressGridChanged(e)
    {
        var date = "@(effDate.ToString())"

        if ($("#hdfAddressFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        $("#hdfAddressFirstTime").val("0");


        var selected = $.map(this.select(), function (item)
        {
            return $(item);
        });

        var data = $('#gridAddress').data("kendoGrid").dataItem(selected[0]);

        $("#divAddress").load('@Url.Action("_Address", "Employee")' + '?personId=' + data.PersonIdNo + '&seqNo=' + data.PersonAddressSeqNo+"&effectiveDate="+date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });
    }

    function NewAddress(e)
    {
        if ($("#hdfAddressFirstTime").val() == "0")
        {
            ShowModal("fullModal");
        }

        var grid = $("#gridAddress tr.k-state-selected").removeClass("k-state-selected");

        var personIdNo = "@(personIdNo.ToString())"
        var date = "@(effDate.ToString())"

        $("#divAddress").load('@Url.Action("_Address", "Employee")' + '?personId=' + personIdNo + '&seqNo=0' + "&effectiveDate=" + date, function ()
        {
            SetDisabledStyle();
            HideModal("fullModal");
        });

        e.preventDefault();
    }


    $(document).ready(function ()
    {
        SetDisabledStyle();
    });

    function SetDisabledStyle()
    {
    //    $('.k-state-disabled').each(function ()
    //    {
    //        if ($($(this).parent()).hasClass('k-datepicker') || $($(this).parent()).hasClass('k-dropdown') || $($(this).parent()).hasClass('k-numerictextbox'))
    //        {
    //            $($(this).parent()).addClass('disabledinput');
    //        }
    //    });

        $('.k-checkbox[disabled="disabled"]').next().addClass('k-state-disabled');

    $('input:disabled').addClass('k-state-disabled');
    }

</script>