﻿@using Resources
@using HRIS.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Resource.ProcessedFiles</h4>
<div class="col-md-12" id="divSearch">
    <div class="col-md-12">
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
            <label> @Resource.From</label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("txtFromDate").Value(DateTime.Today.AddDays(-7))
        </div>
        <div class="col-md-1">
            <label> @Resource.EmployeeId</label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtEmployeeId")
        </div>
         <div class="col-md-2">
            @Html.Kendo().CheckBox().Name("chbShowOnlyError").Label(@Resource.ShowOnlyFilesError)
        </div>
        <div class="col-md-1">
            @Html.Kendo().Button().Name("btnFind").Content(Resource.Find).Icon("search").Events(ev=>ev.Click("BtnFindClick"))
        </div>
        <div class="col-md-1">

        </div>
    </div>  
    <div class="col-md-12">
          <div class="col-md-1">

        </div>
          <div class="col-md-1">
        <label>    @char.ToUpper(Resource.To[0])@Resource.To.Substring(1) </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("txtToDate").Value(DateTime.Today.AddDays(1))
        </div>
          <div class="col-md-1">

        </div>
        <div class="col-md-2">

        </div>
       
        
    </div>
</div>
<hr class="searchhr" />
<div class="col-md-12">
     @(Html.Kendo().Grid<ProcessedFilesModel>().Name("gridSearchResults")
        .Columns(c=>
        {
            c.Bound(m => m.Id).Hidden();
            c.Bound(m => m.ErrorCount).Hidden();
            c.Bound(m => m.WarningCount).Hidden();
            c.Bound(m => m.Status).ClientTemplate("<img class='statusimage' style='width:20px' />").Title(Resource.Status).Width(50);
            c.Bound(m => m.Date).Title(Resource.ProcessedDate).Width(150).Format("{0:MM-dd-yyyy}");
            c.Bound(m => m.FileName).Title(Resource.FileName);
            c.Bound(m => m.ModuleCount).Title(Resource.ModuleCount).Width(150);
            c.Bound(m => m.SuccessCount).Title(Resource.SuccessCount).Width(150);
            c.Bound(m => m.ErrorWarningCount).Title(Resource.ErrorWarningCount).Width(150);

        })
        .HtmlAttributes(new{@style="margin-bottom:50px;" })
        .NoRecords(Resource.NoRecordsToDisplay)
        // .Pageable()       
        .Events(ev=>ev.DataBound("SearchResultsDataBound"))
        .ClientDetailTemplateId("ProcessedFileModules")
        .DataSource(d=>
        {
            d.Ajax().Model(m =>
            {
                m.Id(f => f.Id);
            })
            //  .PageSize(10)
            .Read(read=>read.Action("SearchFiles","ProcessedFiles").Data("GetSearchData"));

        }))
      <script id="ProcessedFileModules" type="text/kendo-tmpl">
      @(Html.Kendo().Grid<ProcessedFileModulesModel>().Name("gridFileModule#=Id#")
        .Columns(c=>
        {
            c.Bound(m => m.Id).Hidden();
            c.Bound(m => m.ModuleId).Hidden();
            c.Bound(m => m.Status).ClientTemplate("<img class='modulestatusimage' style='width:15px' />").Title(Resource.Status).Width(50);
            c.Bound(m => m.ModuleName).Title(Resource.ScreenName);
            c.Bound(m => m.Info).Title(Resource.Data);
            c.Bound(m => m.EmployeeId).Title(Resource.EmployeeId);
            c.Bound(m => m.Log).Title(Resource.ErrorLog).Encoded(false);
            c.Command(m =>
            {
                m.Custom("GoToEmployee").Text(Resource.Edit).Click("GoToEmployee").HtmlAttributes(new { @class = "edit", title = Resource.Edit });
            }).Width(100);
        })
        .Events(ev=>ev.DataBound("GridModuleDataBound"))
        .DataSource(d=>
        {
            d.Ajax().Model(m =>
            {
                m.Id(f => f.Id);
            })
            .Read(read=>read.Action("ReadFileModules","ProcessedFiles").Data("GetFileModuleData(#=Id#)"));

        }).ToClientTemplate())
      </script>
</div>


<script>

    
    function GoToEmployee(e)
    {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"))

        //var url = 'Employee/Index?personId=' + dataItem.PK1 + '&effectiveDate='+dataItem.EffectiveDate
        //window.location = encodeURI(url);     

        $.ajax({
            type: "Post",
            dataType: "json",
            url: '@Url.Action("RedirectToEmployee", "ProcessedFiles")',
            data: { empNo: dataItem.EmployeeId, changes: dataItem.Info}, // serializes the form's elements.
            success: function (result)
            {
                window.location = 'Employee/Index';
            }
        });
    }


    function GetFileModuleData(id)
    {
        return {fileId:id}
    }

    function GridModuleDataBound(e)
    {
        var grid = $("#"+e.sender.element.context.id).data("kendoGrid");
        grid.items().each(function (i, item)
        {
            var dataItem = grid.dataItem(item)
            if (dataItem.Status == 'error')
            {
                $(item).find('.modulestatusimage').attr('src', '/Content/Images/forbidden.png')
            }
            else
            {
                if (dataItem.Status =='warning')
                {
                    $(item).find('.modulestatusimage').attr('src', '/Content/Images/warning.png')
                }
                else
                {
                    $(item).find('.modulestatusimage').attr('src', '/Content/Images/checked.png')
                }
            }
        });
    }

    function SearchResultsDataBound()
    {
        var grid = $("#gridSearchResults").data("kendoGrid");
        grid.items().each(function (i, item)
        {
            var dataItem = grid.dataItem(item)
            if (dataItem.ErrorCount > 0)
            {
                $(item).find('.statusimage').attr('src', '/Content/Images/forbidden.png')
            }
            else
            {
                if (dataItem.WarningCount > 0)
                {
                    $(item).find('.statusimage').attr('src', '/Content/Images/warning.png')
                }
                else
                {
                    $(item).find('.statusimage').attr('src', '/Content/Images/checked.png')
                }
            }
        });
    }

    function EditEmployee(e)
    {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"))

        //var url = 'Employee/Index?personId=' + dataItem.PK1 + '&effectiveDate='+dataItem.EffectiveDate
        //window.location = encodeURI(url);     

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("RedirectToEmployee", "EmployeeSearch")',
                data: {personIdNo:dataItem.PK1,effectiveDate:dataItem.EffectiveDate}, // serializes the form's elements.
                success: function (result)
                {
                    window.location = 'Employee/Index';
                }
            });
    }

    function BtnFindClick()
    {
        $('#gridSearchResults').data('kendoGrid').dataSource.read();
    }

    function GetSearchData()
    {
        return {
            fromDate: $('#txtFromDate').val(),
            toDate: $('#txtToDate').val(),
            showOnlyError: $('#chbShowOnlyError').is(":checked"),
            employeeId: $('#txtEmployeeId').val()
        };
    }

</script>
