
button
{
    color: white !important;
    background-color: #76abd9 !important;
    width:100%;
}

input.k-textbox,
.k-numerictextbox,
.k-dropdown,
.k-datepicker
{
    width: 100%;
    height: 34px !important;
}



.k-state-disabled,
.k-state-disabled input,
.k-state-disabled.k-checkbox-label::before
{
        background-color: #eee !important;
        border-color: #b6b6b6 !important;
        color: #a1a1a1 !important;
}


   
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap
{
    height: 32px;
}

.k-dropdown-wrap:hover,
.k-picker-wrap:hover,
.k-numeric-wrap:hover
{
    background-color: white
}

label.k-radio-label
{
    float:left;
}


.k-grid {
    background-color: #f5f5f5;
    margin-top:10px;
}

.k-grid .k-grid-header
{
    border-top-style:solid;
    border-top-width:1px;
    border-left-style:none;
}

.k-grid .k-grid-toolbar
{
    border-style:none;
}
.k-grid .k-grid-content 
{
    background-color:white;
}

.k-grid .k-grid-header tr th 
{
    border-left: none;
    border-right: solid;
    border-right-color: #ccc;
    border-right-width: .5px;
}

.k-grid tr
{
    background-color:white;
}

.k-grid tr td 
{
    border: none;
}

.k-grid .k-grid-content 
{
    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
}

.k-grid .k-grid-pager 
{
    border:none;
}
.k-grid .k-grid-header-wrap 
{
    border-right:none;
}

.k-edit-form-container  
{
width:100%;
}

.k-state-selected
{
    background-color: #76abd9 !important;
}


.k-grid table tbody tr td .k-button-icontext:hover
{
    background-color: #76abd9;
    color:white
}

.glyphicon {
    font-family: inherit;
    font-size: 12px;
}

    .glyphicon:before {
        font-family: 'Glyphicons Halflings';
        padding-right: 5px;
    }

.k-grid-norecords-template 
{
    width: 100%;
    border-style: none;
}