﻿body
{
    background-image: url('Images/Cooper-Login-Background.png');
    color: white;
    font-size: 16px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom:80px;
   
}

.div
{
    display: block;
}

.loginBoxIn
{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 320px;
    width: auto;
}


.loginBoxOut
{
    color: white;
    width: 400px;
    position: relative;
    left: 50px;
    padding: 10px 0px 10px 0px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
   
}

    .loginBoxOut img
    {
        width: 100%
    }

.loginBoxIn img
{
   margin-bottom:20px;
}

.loginBoxIn input
{
   background-color:#eee;
}

.loginField
{
    height: 25px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    color: black;
    padding: 10px;
}

.h1
{
    font-size: 3em;
    color: white;
}

p
{
    font-size: 16px;
    color: white;
}

.loginFormElement
{
    background-color: white;
    border: none;
    color: #13143F;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
    margin: 8px 0px;
    width: 100%;
}

.greyButton
{
    background-color: lightgray;
    cursor: pointer;
}

.yellowButton
{
    background-color: #ffde00;
    cursor: pointer;
}

.noPaddingRight
{
    padding-right: 0px;
}

.forgotPassword, .rememberMe
{
    color: white;
    width: 320px;
    font-size: 16px;
    display: inline-block;
}

::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
    color: gray;
    text-align: center;
    font-size: 18px;
}

::-moz-placeholder
{ /* Firefox 19+ */
    color: gray;
    text-align: center;
    font-size: 18px;
}

:-ms-input-placeholder
{ /* IE 10+ */
    color: gray;
    text-align: center;
    font-size: 18px;
}

:-moz-placeholder
{ /* Firefox 18- */
    color: gray;
    text-align: center;
    font-size: 18px;
}

footer
{
    align-items: center;
    width: 100%;
}

    footer p
    {
        color: black;
        font-weight: 500;
        margin-left: 30%;
        margin-right: 50%;
        min-width: 800px;
    }

.errorMsg label
{
    color: red;
    font-weight: 200;
}

.error
{
    color: red;
    font-weight: 200;
}
