﻿/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body-container
{
    margin-bottom: 50px !important;
    height: 100%;
    background-color: white;
    width:98%;
    padding:10px;

}

footer {
    background-color: #13143F;
    height: 25px;
    color: #ffffff;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

    footer p {
        color: #ffffff;
        vertical-align: middle;
    }

.form-control .k-widget {
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-widget:not(.k-autocomplete) {
        border-width: 0;
    }

.form-inline {
    display: flex;
}

.noPaddingRight {
    padding-right: 0px;
}

/*.field-validation-error,
.k-widget.k-tooltip-validation {
    color: white;
    background: #ff0000 !important;
    padding: 3px !important;
    border-radius: 0 !important;
    position: absolute;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
    opacity: .8;
    z-index: 1000;
}

    .field-validation-error:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ff0000;
        position: absolute;
        top: -10px;
        opacity: .8;
        z-index: 1000;
    }

.field-validation-valid,
.k-callout-n {
    display: none;
}*/
span.k-tooltip-validation,
div.k-tooltip-validation
{
    margin: .5em;
    display: block;
    border-radius: 4px;
    z-index: 9999;
    /*opacity: .8;*/
    background-color: #f5ee30 !important;
    color: #13143F !important;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    padding: 10px;
}

span.field-validation-error:before,
div.field-validation-error:before
{
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f5ee30;
    position: absolute;
    top: -8px;
    /*opacity: .8;*/
    z-index: 1000;
}

span.field-validation-error .k-i-warning
{
    background-color: #f5ee30 !important;
}

span.k-tooltip
{
    position: absolute;
    border-style: solid;
    min-width: 20px;
}

div.field-validation-error .k-callout {
    display: none;
}

.PaddingAccordion {
    padding: 0px 10px;
}

button:disabled {
    background-color: rgba(187,189,192,0.7) !important;
}


mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
}

    .container h1,
    .container #responsive-panel {
        margin-left: 15px;
    }

.body {
    background: url(https://d2t44wh9rnwl5y.cloudfront.net/gsc/SLMB1T/e9/1c/81/e91c81affc7a498291ce7145db843a28/images/login_page/u2.png?token=555d1f51a090b7221fa796088ea0c351);
    position: center;
}



    .body-container div {
        display: block;
    }
.basicform 
{
    margin:10px;
}
.basicform div {
    margin-top: 3px;
}

.basicform .k-checkbox-label {
    margin-top: 3px;
}

#divHeader,
#divHeader .k-item,
#divHeader .k-state-focused,
#divHeader .k-state-focused,
#divHeader .k-state-selected > .k-link,
#divHeader ul
{
    background-color: white;
    border-style: none;
    box-shadow: none;
}


#mainMenu
{
    border-color: #5ebcdc;
    background-color: #76abd9;
    color: white;
}
#mainMenu .k-state-hover .k-link,
#mainMenu .k-state-highlight,
#mainMenu .k-state-border-down 
{
    background-color: #5884bf !important;
}

#mainMenu .k-menu-group .k-link
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #76abd9 !important;
}

#mainMenu .k-menu-group .k-link:hover
{
    background-color: #5884bf !important;
}

    #mainMenu li
    {
        border-color: #76abd9;
    }

#mainMenu .k-link
{
    color: white;
}
.k-tabstrip-wrapper
{
    background-color: #ebebeb;
}
.k-tabstrip-wrapper .k-content
.k-tabstrip-wrapper .k-state-default
{
    background-color: #fafafa !important;
}
.k-tabstrip-wrapper .k-link
{
   margin: 5px;
   color:black !important;
}


#divHeader .headerlogo
{
    height: 90px;
    margin: 25px;
    background-color: white;
}

.k-window-titlebar {
    background: #090A1F;
    color: white;
    text-transform: uppercase;
}

.k-window-title {
    padding-left: 10px;
}

*, :before, :after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#loginPageIntBody {
    margin-top: 100px;
}

textarea {
    resize: none;
    border-color: #ccc;
    border-radius: 4px;
    height: 5em;
    line-height: 1.6em;
    text-indent: .8em;
}

.k-upload {
    width: 100%;
}

    .k-upload .k-dropzone {
        padding: 3px;
        width: 100px;
        height:35px
    }

.fa-download {
    cursor: pointer;
}

.k-edit-form-container .k-edit-buttons {
background-color: lightgray;
}

.k-popup-edit-form .k-primary
{
    float:right;
}

#notificationMessage {
    display: none;
    float: right;
    top: 0;
    position: fixed;
    right: 0;

}

#imgNotificationImage
{
    padding-right:10px;
}

.headerrightcontent
{
    margin: 10px;
}

#imgEnglish, #imgSpanish
{
    cursor: pointer;
}

.contentinfo
{
    padding-left:20px;
}

 .contentinfo label
{
    margin-bottom:15px
}

#divAddress,
#divPhone,
#divEmail,
#divPersonPosition,
#divPayStatus
{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

#divSearch .k-checkbox-label 
{
    padding-right:20px !important;
}

#divSearch label
{
    float:right;
}
#divSearch .searchcheckboxes label
{
    float: left;
}
.searchhr 
{
    color: lightgray;
    border:.5px;
    border-style:solid;
}

#ScreenFieldsForm div,
#PorfilePermissionsForm div 
{
    padding: 5px
}

