﻿
@using Resources
@using Models
@using System.Resources
@model IEnumerable<ModuleScreenField>
@{
    ResourceManager rm = new ResourceManager(typeof(Resource));
}
<script>

    function CheckBoxChanged(e)
    {
        $(e).attr('changed', 'true');
    }

</script>
<form id="FieldsForm">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="col-md-2">@Html.Kendo().CheckBox().Name(item.Id.ToString()).Label(" " + rm.GetString(item.ResourceName) + (item.DisabledByKronos.Value ? " *" : string.Empty)).Checked(item.Enabled.Value).Enable(!item.DisabledByKronos.Value).HtmlAttributes(new { onchange="CheckBoxChanged(this)"})</div>
        }
    </div>
</form>
<hr class="searchhr" />
<div class="col-md-12">
    <label>* &nbsp;@Resource.FieldsDisabledByKronos</label>
</div>