﻿@using Resources
@using Models
@using System.Resources
@{
    ViewBag.Title = Resource.ProfilePermissions;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ResourceManager rm = new ResourceManager(typeof(Resource));
}

<script>
    function GetModuleId()
    {
        return { moduleId: $('#ddlModules').data('kendoDropDownList').value() }
    }

    function SaveProfilePermissions()
    {
        ShowModal("fullModal");

        var permissions = [];
        $("#SectionsForm input.k-checkbox").each(function (e)
        {
            if ($(this).attr("changed") == 'true')
            {
                permissions.push({ Id: $(this).prop("id"), Checked: $(this).is(":checked"), SectionId: $(this).attr("sectionid"), ProfileId: $(this).attr("profileid")  });
            }
        });

        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("SaveProfilePermissions", "Configuration")',
            data: JSON.stringify({ permissions }), // serializes the form's elements.
            success: function (result)
            {
                HideModal("fullModal");

                if (result.status == "success")
                {
                    NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
                else
                {
                    NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
            }
        });
    }

    function ProfileChanged()
    {
        LoadAppSections()
    }

    function ProfileDataBound()
    {
        LoadAppSections()
    }

    function LoadAppSections()
    {
        $("#divSections").load('@Url.Action("_Sections", "Configuration")' + '?profileId=' + $('#ddlProfiles').data('kendoDropDownList').value(), function ()
        {
            HideModal("fullModal");
        });
    }
  

</script>

<div id="PorfilePermissionsForm">
    <div class="col-md-12">
        <div class="col-md-12">
            <h4>@Resource.ProfilePermissions</h4>
            <div class="col-md-12" >
                @Html.Label(Resource.Profile)
            </div>

            <div class="col-md-2">
                @(Html.Kendo().DropDownList()
                .Name("ddlProfiles")
                .BindTo((List<HRIS.Models.HRISListObject>)ViewData["ProfileList"])
                .DataTextField("Description")
                .DataValueField("Value")
                .ValuePrimitive(true)
                .Filter(FilterType.Contains)
                .Events(ev=>ev.DataBound("ProfileDataBound").Change("ProfileChanged")))   
            </div>
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnSaveProfilePermissions").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SaveProfilePermissions")).Icon("update")
            </div>
        </div>
    </div>
     <div class="col-md-12">
     <label>@Resource.SelectPermissionsForProfile</label>
        </div>
    <hr class="searchhr" style="margin-bottom:0" />
    <div id="divSections"></div>
</div>