﻿@using Resources
@using Models
@using System.Resources
@{
    ViewBag.Title = Resource.ScreenFields;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ResourceManager rm = new ResourceManager(typeof(Resource));
}

<script>
    function GetModuleId()
    {
        return { moduleId: $('#ddlModules').data('kendoDropDownList').value() }
    }

    function SaveScreenFields()
    {
        ShowModal("fullModal");

        var fields = [];
        $("#FieldsForm input.k-checkbox").each(function (e)
        {
            if ($(this).attr("changed") == 'true')
            {
                fields.push({ Id: $(this).prop("id"), Enabled: $(this).is(":checked") });
            }
        });

        $.ajax({
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '@Url.Action("SaveScreenFields", "Configuration")',
            data: JSON.stringify({ fields }), // serializes the form's elements.
            success: function (result)
            {
                HideModal("fullModal");

                if (result.status == "success")
                {
                    NotificationMessage('', '@Resource.ChangesSavedSuccessfully', 's');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
                else
                {
                    NotificationMessage('', '@Resource.ErrorSavingEntry', 'd');

                    $("#notificationMessage").fadeIn(1000, function ()
                    {
                        $("#notificationMessage").fadeOut(3500);
                    });
                }
            }
        });
    }

    function ModuleChanged()
    {
        LoadFieldsView()
    }

    function ModulesDataBound()
    {
        LoadFieldsView()
    }

    function LoadFieldsView()
    {
        $("#divScreenFields").load('@Url.Action("_Fields", "Configuration")' + '?moduleId=' + $('#ddlModules').data('kendoDropDownList').value(), function ()
        {
            HideModal("fullModal");
        });
    }

  

</script>

<div id="ScreenFieldsForm">
    <div class="col-md-12">
        <div class="col-md-12">
            <h4>@Resource.ScreenFields</h4>
            <div class="col-md-12" >
                @Html.Label(Resource.Module)
            </div>

            <div class="col-md-2">
                @(Html.Kendo().DropDownList()
                .Name("ddlModules")
                .BindTo((List<HRIS.Models.HRISListObject>)ViewData["ModuleList"])
                .DataTextField("Description")
                .DataValueField("Value")
                .ValuePrimitive(true)
                .Filter(FilterType.Contains)
                .Events(ev=>ev.DataBound("ModulesDataBound").Change("ModuleChanged")))   
            </div>
            <div class="col-md-3">
                @Html.Kendo().Button().Name("btnSaveScreenFields").Content(Resource.Save).HtmlAttributes(new { @style = "margin-bottom:15px; width:100px" }).Events(ev => ev.Click("SaveScreenFields")).Icon("update")
            </div>
        </div>
    </div>
     <div class="col-md-12">
     <label>@Resource.CheckToEnableUncheckToDisable</label>
        </div>
    <hr class="searchhr" style="margin-bottom:0" />
    <div id="divScreenFields"></div>
</div>