﻿@using Resources
@using HRIS.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@Resource.SearchEmployee</h4>
<div class="col-md-12" id="divSearch">
    <div class="col-md-12">
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
            <label>   @Resource.EffectiveDate </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().DatePicker().Name("txtEffectiveDate").Value(DateTime.Today)
        </div>
        <div class="col-md-1">
            <label>  @Resource.LastName </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtLastName")
        </div>
        <div class="col-md-1">
            <label> @Resource.FirstName </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtFirstName")
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
            <label>   @Resource.EmployeeId </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtEmployeeId")
        </div>
        <div class="col-md-1">
            <label>  @Resource.PositionTitle </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtPositionTitle")
        </div>
        <div class="col-md-1">
            <label>  @Resource.SupervisorLastName </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtSupervisorLastName")
        </div>
        <div class="col-md-1">
            @Html.Kendo().Button().Name("btnFind").Content(Resource.Find).Icon("search").Events(ev=>ev.Click("BtnFindClick"))
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
            <label>  @Resource.Status </label>
        </div>
        <div class="col-md-5 searchcheckboxes">
            @Html.Kendo().CheckBox().Name("chbActive").Label(@Resource.Active)
            @Html.Kendo().CheckBox().Name("chbLoa").Label("LOA")
            @Html.Kendo().CheckBox().Name("chbNotEmployee").Label(@Resource.NotEmployee)
            @Html.Kendo().CheckBox().Name("chbTerminated").Label(@Resource.Terminated)

        </div>
        <div class="col-md-1">
           <label>  @Resource.SocialSecurity </label>
        </div>
        <div class="col-md-2">
            @Html.Kendo().TextBox().Name("txtSocialSecurityNumber")
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
<hr class="searchhr" />
<div class="col-md-12">
     @(Html.Kendo().Grid<EmployeeSearch>().Name("gridSearchResults")
        .Columns(c=>
        {
            c.Bound(m => m.PK1).Hidden();
            c.Bound(m => m.PK2).Hidden();
            c.Bound(m => m.EffectiveDate).Hidden();
            c.Bound(m => m.EmployeeFullName).Title(Resource.Name);
            c.Bound(m => m.EmployeeId).Title(Resource.EmployeeId);
            c.Bound(m => m.SSN).Title(Resource.SocialSecurity);
            c.Bound(m => m.PositionTitle).Title(Resource.PrimaryPosition);
            c.Bound(m => m.SupervisorFullName).Title(Resource.SupervisorName);
            c.Bound(m => m.OrganizationText).Title(Resource.Organization);
            c.Bound(m => m.StatusText).Title(Resource.Status);
            c.Command(m =>
            {
                m.Custom("EditEmployee").Text(Resource.Edit).Click("EditEmployee").HtmlAttributes(new { @class = "edit", title = Resource.Edit });
            }).Width(100);
        })
        .AutoBind(false)        
        .HtmlAttributes(new{@style="margin-bottom:50px; display:none" })
        .NoRecords(Resource.NoRecordsToDisplay)
        // .Pageable()                                                                    
        .DataSource(d=>
        {
            d.Ajax().Model(m =>
            {
                m.Id(f => f.PK1);
            })
            //  .PageSize(10)
            .Read(read=>read.Action("SearchEmployees","EmployeeSearch").Data("GetSearchData"));

        }))
</div>

<script>

    function EditEmployee(e)
    {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"))

        //var url = 'Employee/Index?personId=' + dataItem.PK1 + '&effectiveDate='+dataItem.EffectiveDate
        //window.location = encodeURI(url);     

            $.ajax({
                type: "Post",
                dataType: "json",
                url: '@Url.Action("RedirectToEmployee", "EmployeeSearch")',
                data: {personIdNo:dataItem.PK1,effectiveDate:dataItem.EffectiveDate}, // serializes the form's elements.
                success: function (result)
                {
                    window.location = 'Employee/Index';
                }
            });
    }

    function BtnFindClick()
    {
        $('#gridSearchResults').data('kendoGrid').dataSource.read();
        $('#gridSearchResults').show();
    }

    function GetSearchData()
    {
        var status = '';

        if ($('#chbActive').is(":checked"))
        {
            status +="-10131%"
        }

        if ($('#chbLoa').is(":checked"))
        {
            status += "-10132%"
        }

        if ($('#chbNotEmployee').is(":checked"))
        {
            status += "-10134%"
        }
        if ($('#chbTerminated').is(":checked"))
        {
            status += "-10133%"
        }


        return {
            effectiveDate: $('#txtEffectiveDate').val(),
            firstName: $('#txtFirstName').val(),
            lastName: $('#txtLastName').val(),
            employeeId: $('#txtEmployeeId').val(),
            positionTitle: $('#txtPositionTitle').val(),
            supervisorLastName: $('#txtSupervisorLastName').val(),
            status: status,
            socialsecurity: $('#txtSocialSecurityNumber').val()
        };
    }

</script>
